.inputWrapper {
  opacity: 0.9;
  width: 98%;
  overflow-y: none;
  resize: vertical;
  min-height: 5%;
  flex: 0 1 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 25px 25px;
  padding: 5px;
  box-shadow: 0 -5px 5px -5px rgb(0 0 0 / 14%), 0 -5px 5px -5px rgb(0 0 0 / 12%),
    0 -5px 5px -5px rgb(0 0 0 / 30%);
  background: linear-gradient(
    0.25turn,
    rgb(237 219 195),
    rgb(243 178 84),
    rgb(237 219 195)
  ) !important;
  height: 60px;
}


.listItemWrapper{
  align-items: flex-end !important;
}


.listItemWrapperMe{
  flex-direction: row;
}

.listItemWrapperUser{
  flex-direction: row-reverse;
}

.messageItemMe {
  flex: inherit !important;
  text-align: left;
  padding-left: 10px;
  background-color: #a3d9f1;
  opacity: "0.7";
  padding: "7px"; 
  border-bottom-left-radius: "2px";
  margin-left: "10px";
  box-shadow: "2px 2px 9px 1px #8e8272";
  margin-right: "60px";
  box-shadow: 2px 2px 9px 1px #8e8272; 
  border-radius: 25px;
  max-width: 80% !important;
  padding: 10px;
  margin: 0px 7px;
  border-bottom-left-radius: 0;
}

.messageItemUser{
  flex: inherit !important;
    text-align: right;
    padding-left: 10px;
    background-color: white;
    opacity: "0.7";
    padding: "7px"; 
    border-bottom-right-radius: "2px";
    margin-right: "10px";
    box-shadow: "2px 2px 9px 1px #8e8272";
    margin-right: "60px";
    box-shadow: 2px 2px 9px 1px #8e8272; 
    border-radius: 25px;
    max-width: 80% !important;
    padding: 10px;
    margin: 0px 7px;
    border-bottom-right-radius: 0;
}